* { margin: 0; padding: 0; }

html {
  font-family: 'andadaregular';
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  font-family: 'andadaregular';
}

.container-nav-menu {
    width: 1110px;
    text-align: center;
    margin: auto;
}

/*home-section*/
.navbar-default.navbar-toby.navbar-toby-white {
  	background: url('../img/white.jpg');
    width: 100%;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0 0 0;
    height: 98px;
}

.navbar-nav.navbar-navone{
    position: relative;
    top: 46px;
}

.navbar-default.navbar-toby.navbar-toby-white li a:focus,
.navbar-default.navbar-toby.navbar-toby-white li a:active,
.navbar-default.navbar-toby.navbar-toby-white li a:hover,
.navbar-default.navbar-toby.navbar-toby-white li a {
    color: #9e9e9e;
    font-family: 'din-bold';
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 15px;
    letter-spacing: 5px;
}

.navbar-default.navbar-toby.navbar-toby-white li.active a {
    background: transparent;
    color: #696969;
}

.logo-homex {
    background: url('../img/new-logo1.png');
    width: 230px;
    height: 110px;
    top: 5px;
    position: relative;
    z-index: 1;
    display: block;
    background-repeat: no-repeat;
    margin-right: 40px
}

#youtubecontainer{
  position: absolute;
  z-index: 0;
  width:100%;
  height: 100%;
  top:85px;
  left:0;
}

#youtubecontainer iframe{
  width:100%;
}

.bx-wrapper .bx-loading {
	display:none;
}

.container-homes{
	width: 100%;
	height: 770px;
  background-color: #000;
	background-repeat: no-repeat;
	text-align: center;
}

.container-center {
    width: 723px;
    text-align: center;
    margin: auto;
}

.container-homes h1 {
    text-align: center;
    font-family: andadaregular;
    color: #fff;
    padding: 0px 150px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
    position: relative;
    top: 390px;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
}

.btn.btn-homes {
    text-align: center;
    position: relative;
    top: 420px;
    margin: auto;
    color: #fff;
    font-family: avenir-light;
    text-transform: uppercase;
    font-size: 17px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 0;
    padding: 4px 28px;
    margin-left: 10px;
}

.btn.btn-homes:hover {
	background: #4c4c4c;
}

/*ABOUT*/
.container-about{
	width: 100%;
	height: 880px;
	/*background: #fcfcfc;*/
  background: url('../img/grey.jpg');
}

.col-mdabout-left {
    margin-top: 140px;
    padding: 0
}

.col-mdabout-left h1{
    text-align: center;
    font-family: avenir-black;
    color: #000;
    padding: 0px;
    font-size: 30px;
    line-height: 85px;
    margin: 0;
    text-transform: uppercase;
}

.col-mdabout-left span {
    width: 140px;
    height: 4px;
    background: #000;
    display: block;
    text-align: center;
    margin: auto;
}

.col-mdabout-left h4 {
    color: #000;
    text-align: center;
    font-family: avenir-black;
    margin: 70px 0 25px;
}

.col-mdabout-left p{
    color: #000;
    text-align: center;
    font-family: avenir-light;
    margin: 0;
    padding: 0 41px;
    font-size: 17px;
    line-height: 30px;
}

.col-mdabout-right {
    padding-top: 140px;
    text-align: center;
}

.col-mdabout-right img {
    width: 420px;
    height: 228px;
    margin-bottom: 8px;
}


/*SUBSCRIBE*/
.container-subscribe {
  width: 100%;
  height: 261px;
  background: url('../img/bg-texture.jpg');
  margin: auto;
}

.col-md-subscribe {
  padding-top: 125px;
  overflow: hidden;
}

.col-md-subscribe h1 {
  color: #000;
  text-transform: uppercase;
  font-family: avenir-black;
  font-size: 20px;
  margin-bottom: 25px;
}

.btn.btn-subscribe {
    text-align: center;
    position: relative;
    margin: auto;
    color: #fff;
    font-family: avenir-light;
    text-transform: uppercase;
    font-size: 15px;
    background: #4c4c4c;
    border-radius: 0;
    padding: 4px 28px;
    margin-left: 10px;
}
.btn.btn-subscribe:hover {
	background: rgba(255, 255, 0.33, 0.33);
}

/*GALLERY*/
.container-gallery {
    width: 100%;
    height: 880px;
    background: url('../img/dark-grey.jpg');
    text-align: center;
    margin: auto;
}

.col-md-gallery {
    width: 1120px;
    padding-top: 100px;
    overflow: hidden;
}

.col-md-gallery h1 {
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-family: avenir-black;
    font-size: 25px;
    margin: 50px 0 15px;
}

.img-gallery {
    margin: 3px;
}

.btn.btn-gallery {
    text-align: center;
    top: 80px;
    margin: auto;
    color: #fff;
    font-family: avenir-light;
    text-transform: uppercase;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 0;
    padding: 4px 15px;
    margin-top: 40px;
}
.btn.btn-gallery:hover {
	background: #4c4c4c;
}


/*FIND*/
.container-find{
	width: 100%;
  height: 815px;
  padding-top: 230px;
  background-size: cover;
  background-image: url('../img/bg-findus.png');
  background-repeat: no-repeat;
  text-align: center;
}

.boxed {
  border: 3px solid white ;
  width: 500px;
  margin-left: 310px;
}

.container-find h1 {
    text-align: center;
    font-family: andadabold;
    color: #fff;
    /*padding: 0px 150px;*/
    font-size: 48px;
    line-height: 85px;
    margin: 0;
    position: relative;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 6px;
}

.container-find h3 {
  text-align: center;
  font-family: helveticaneue;
  color: #fff;
  padding: 0px 150px;
  font-size: 30px;
  line-height: 85px;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.container-find h4 {
  text-align: center;
  font-family: helveticaneue;
  color: #fff;
  font-size: 15px;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.container-find-address{
  text-align: center;
  padding: 130px 150px;
  margin: 0;
  position: relative;
}

/*CAREER*/
.container-career{
	width: 100%;
  height: 700px;
  padding-top: 98px;
  background-size: 1600px 850px;
  background: #fff;
}

.logo-career {
  position: relative;
  margin-left: -52px;
}

.col-md-career {
  width: 100%;
  height: 526px;
  background-size: 1120px 526px;
  background-image: url('../img/career.png');
  background-repeat: no-repeat;
}

.col-md-career ul.square {
  list-style-type: square;
  font-family: din-bold;
  font-size: 22px;
  color: #fff;
  padding-left:0;
}

.col-md-career li {
  list-style-position: inside;
  padding-top: 25px;
}

.btn.btn-apply {
    text-align: center;
    margin: auto;
    color: #fff;
    font-family: din-bold;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 3px;
    box-shadow: 3px 1px 3px #efefef;
    padding: 1px 5px;
    margin-left: 20px;
}
.btn.btn-apply:hover {
	background: #909090;
}


/*FOOTER*/
footer {
    width: 100%;
    background: url('../img/light-grey.jpg');
    padding: 20px 0;
}

.img-footer {
    background: url('../img/logo-hitam.png');
    width: 199px;
    height: 92px;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto 25px;
}

footer p {
    color: #fff;
    text-align: center;
    font-family: avenir-black;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0 10px;
}

.navbar-fixed-top.navbar-fixed-top-toby{
	display: none;
}

.form-control::-webkit-input-placeholder { color: grey; font-family: avenir-light;}
.form-control:-moz-placeholder { color: grey;  font-family: avenir-light;}
.form-control::-moz-placeholder { color: grey;  font-family: avenir-light;}
.form-control:-ms-input-placeholder { color: grey;  font-family: avenir-light;}

/*RESPONSIVE*/
@media (max-width: 768px){

	.body-mobile{
		padding-top: 55px;
	}

  .container-nav-menu {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .navbar-default .navbar-toggle{
    border-color: transparent;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: -5px;
  }

  .navbar-default.navbar-fixed-top.navbar-fixed-top-toby {
    	background: url('../img/white.jpg');
      width: 100%;
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 10px 25px 0px 25px;
      height: 55px;
  }

  .navbar-nav.navbar-navone{
      position: relative;
      top: 46px;
  }

  .navbar-default.navbar-fixed-top.navbar-fixed-top-toby li a:focus,
  .navbar-default.navbar-fixed-top.navbar-fixed-top-toby li a:active,
  .navbar-default.navbar-fixed-top.navbar-fixed-top-toby li a:hover,
  .navbar-default.navbar-fixed-top.navbar-fixed-top-toby li a {
      background: url('../img/white.jpg');
      width: 100%;
      padding: 10px 20px;
      border: 0px;
      margin: 0px;
      color: #000;
      font-family: 'DINLight';
      text-transform: uppercase;
      font-size: 15px;
      text-decoration: none;
      letter-spacing: 3px;
  }

  .navbar-default.navbar-fixed-top.navbar-fixed-top-toby li.active a {
    background: url('../img/white.jpg');
    color: #696969;
  }

  .logo-homex-mobile{
  	background: url('../img/new-logo-mob.png');
    width: 100px;
    height: 48px;
    top: 5px;
    position: relative;
    z-index: 1;
    display: block;
    background-repeat: no-repeat;
  }

	.container-homes {
		height: auto;
    background-size: cover;
    background-image: url('../img/bg-home.jpg');
    background-repeat: no-repeat;
		padding: 10px 10px 25px;
	}

  #youtubecontainer {
    display: none;
  }

	.container-about2 {
    height: auto;
    padding: 0 0 25px;
	}

	.container-homes h1 {
    padding: 0px;
    font-size: 30px;
    line-height: normal;
    position: static;
    margin-top: 55px;
	}

	.col-mdabout-left h1 {
    font-size: 22px;
    line-height: normal;
    }

  .col-md-gallery h1 {
  	text-align: center;
  }

  .col-md-gallery {
    width: auto;
    padding-top: 25px;
  }

	.container-gallery {
    height: auto;
    padding: 0 0 25px;
  }

	.col-mdabout-right {
	  padding-top: 27px;
	  text-align: center;
	}

	.col-mdabout-right img {
    /*width: 100%;
    height: 100%;*/
    width: 420px;
    height: 228px;
	}

	.container-center {
	    width: 230px;
	}

	.col-mdmenu {
	  margin-top: 74px;
	}

	.col-mdmenu ul {
	    height: auto;
	}

	.col-mdabout-left p{
		padding: 0;
		font-size: 15px;
	}

  /*SUBSCRIBE*/
  .container-subscribe {
    width: 100%;
    height: 280px;
    background: url('../img/bg-texture.jpg');
    margin: auto;
  }

  .col-md-subscribe {
    padding-top: 50px;
    overflow: hidden;
  }

  .col-md-subscribe h1 {
    color: #000;
    text-transform: uppercase;
    font-family: avenir-black;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .input-subscribe {
    padding-bottom: 5px;
  }

  .input-subscribe1 {
    padding-bottom: 15px;
  }

  .help-block {
    display: none;
  }

  .btn.btn-subscribe {
    text-align: center;
    position: relative;
    margin: auto;
    color: #000;
    font-family: avenir-light;
    text-transform: uppercase;
    font-size: 15px;
    background: #4c4c4c;
    border-radius: 0;
    padding: 4px 28px;
    margin-left: 10px;
  }
  .btn.btn-subscribe:hover {
  	background: rgba(255, 255, 255, 0.33);
  }

	.navbar-toggle-desktop{
		display: none;
	}

	.container-find{
		height: auto;
		padding: 140px 0 25px;
	}

	.container-find h1{
	    margin-top: 20px;
	        padding: 0px;
	    font-size: 30px;
	    line-height: normal;
	    position: static;
	    margin-top: 55px;
	}

	.logo-homex{
		margin: 0;
	}

	.logo-homex-black{
		margin: 0;
	}

	.navbar-toby{
		display: none;
	}

	.navbar-fixed-top.navbar-fixed-top-toby{
		display: block;
		background: #2f2f2f;
	}

	.col-mdabout-left h4 {
	    margin: 30px 0 25px;
	    font-size: 15px;
	}

	.btn.btn-homes {
		position: static;
		margin-top: 15px;
	}

	.container-homes {
	    height: 270px;
	}

	.col-mdmenu ul h4 {
    	font-size: 18px;
    }

  .col-mdmenu ul li {
    font-size: 15px;
    padding: 3px 0;
  }

  .container-find{
    height: 480px;
  }

  .boxed {
    border: 3px solid white ;
    width: 100%;
    margin: 0px;
    padding-top: 15px;
  }

  .container-find h1 {
      text-align: center;
      font-family: andadabold;
      color: #fff;
      font-size: 38px;
      margin: 0;
      position: relative;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
      text-transform: uppercase;
  }

  .container-find h3 {
    text-align: center;
    font-family: helveticaneue;
    color: #fff;
    padding: 0px 0px;
    font-size: 20px;
    line-height: 85px;
    margin: 0;
    position: relative;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .container-find h4 {
    text-align: center;
    font-family: helveticaneue;
    color: #fff;
    font-size: 12px;
    margin: 0;
    position: relative;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .container-find-address{
    text-align: center;
    padding: 0px 0px;
    margin: 0;
    position: relative;
  }

}

@media (max-width: 640px){

  .container-homes {
    height: auto;
    background-size: cover;
    background-image: url('../img/bg-home.jpg');
    background-repeat: no-repeat;
    padding: 10px 10px 25px;
  }

  #youtubecontainer {
    display: none;
  }

	.container-homes h1 {
 		 font-size: 25px;
 	}

 	.col-mdabout-left h1 {
    font-size: 15px;
    padding: 10px 0;
	}

 	.col-mdabout-left {
    margin-top: 80px;
	}

  /*SUBSCRIBE*/
  .container-subscribe {
    width: 100%;
    height: 280px;
    background: url('../img/white.jpg');
    margin: auto;
  }

  .col-md-subscribe {
    padding-top: 50px;
    overflow: hidden;
  }

  .col-md-subscribe h1 {
    color: #000;
    text-transform: uppercase;
    font-family: avenir-black;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .input-subscribe {
    padding-bottom: 5px;
  }

  .help-block {
    display: none;
  }

  .btn.btn-subscribe {
    text-align: center;
    position: relative;
    margin: auto;
    color: #000;
    font-family: avenir-light;
    text-transform: uppercase;
    font-size: 15px;
    background: #4c4c4c;
    border-radius: 0;
    padding: 4px 28px;
    margin-left: 10px;
  }
  .btn.btn-subscribe:hover {
  	background: rgba(255, 255, 255, 0.33);
  }

  .container-about{
  	width: 100%;
  	height: auto;
    background: url('../img/grey.jpg');
  }

  .col-mdabout-right {
	  padding-top: 27px;
	  text-align: center;
	}

	.col-mdabout-right img {
    width: 100%;
    height: 100%;
	}

  /*CAREER*/
  .container-career{
  	width: 100%;
    height: 640px;
    padding-top: 30px;
    background-image: url('../img/bg-career.png');
    background-position: left;
  }

  .col-md-career {
    margin: 0px -20px 0 0px;
  }

  .logo-career {
    position: relative;
    margin-left: -52px;
    width: 480px;
  }

  .col-md-career ul.square {
    list-style-type: square;
    font-family: din-bold;
    font-size: 16px;
    color: #fff;
    padding-left:0;
  }

  .col-md-career li {
    list-style-position: inside;
    padding-top: 25px;
  }

  .btn.btn-apply {
      text-align: center;
      margin: auto;
      color: #fff;
      font-family: din-bold;
      font-size: 15px;
      background: rgba(255, 255, 255, 0.33);
      border-radius: 3px;
      box-shadow: 3px 1px 3px #efefef;
      padding: 1px 5px;
      margin-left: 20px;
  }
  .btn.btn-apply:hover {
  	background: #909090;
  }

}
