* { margin: 0; padding: 0; }

html {
  font-family: 'andadaregular';
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  font-family: 'andadaregular';
}

.container-email {
    width: 564px;
    text-align: center;
    margin: auto;
}

.head-email {
  width: 100%;
  color: #fff;
  padding-top: 20px;
}

.logo-email {
    background: url('http://normi.co.id/tobysestate/img/logo-hitam.png');
    width: 199px;
    height: 92px;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto 25px;
}

.body-email {
  width: 100%;
  height: 254px;
  padding: 80px 130px;
  background-size: cover;
  background-image: url('http://normi.co.id/tobysestate/img/bg-findus.png');
  background-repeat: no-repeat;
}

.boxed {
  border: 3px solid white ;
  position: relative;
  width: auto;
}

.container-email h1 {
    text-align: center;
    font-family: andadabold;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    position: relative;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 0px 5px 0px;
}

.container-email h3 {
  text-align: center;
  font-family: andadaregular;
  color: #000;
  font-size: 13px;
  position: relative;
}

.container-ig{
  text-align: center;
  padding: 65px;
  margin: 0;
  position: relative;
}

.container-ig img {
  width: 100px;
}

footer {
    width: 100%;
    background: #fff;
    padding: 20px 0;
}

footer p {
    color: #000;
    text-align: center;
    font-family: avenir-light;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0 10px;
}


@media (max-width: 560px){

}
